<template>
  <div>
    <b-container>
      <b-card title="History" tag="article" class="history-card">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Acceleration magnitude</th>
              <th scope="col">Acceleration direction</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(event, index) in events" :key="index">
              <td>{{event.timeOfEvent | formatDate}}</td>
              <td>
                {{Math.round(event.size * 100) / 100}} m/s<sup>2</sup>
              </td>
              <td>
                <b-icon icon="arrow-up" :style="'transform: rotate(' + event.angle + 'rad)'"></b-icon>
              </td>
            </tr>
          </tbody>
        </table>
      </b-card>
    </b-container>
  </div>
</template>

<script>
import RideService from "@/services/rideService";

export default {
  name: 'History',
  data() {
    return {
      events: []
    }
  },
  created() {
    // `this` points to the vm instance
    if (!this.$store.state.user) {
      this.$router.push('/login')
    } else {
      const rideServ = new RideService();
      rideServ.getRidesForCurrentUser(this.$store.state.user.id).then((response) => {
        this.events = []
        for (let i = 0; i < Math.min(response.data.length, 50); i++) {
          for (let j = 0; j < response.data[i].accelerationEvents.length; j++) {
            this.events.push(response.data[i].accelerationEvents[j])
          }
        }
      })
      .catch((err) => {console.log(err)})
    }
  }
}

</script>
<style scoped>
.history-card {
  margin-top: 1em
}
th {
  width: 33%
}
</style>
