<template>
  <div class="home" v-if="$store.state.user">
    <h1>Hello, {{$store.state.user.username}}!</h1>
    <HomeCharts></HomeCharts>

    <b-container>
      <b-button-group style="float:left">
        <b-button variant="outline-primary" :pressed="granularity === 'MONTHS'" @click="changeGranularity('MONTHS')" class="granularity-selection">Months</b-button>
        <b-button variant="outline-primary" :pressed="granularity === 'DAYS'" @click="changeGranularity('DAYS')" class="granularity-selection">Days</b-button>
      </b-button-group>

      <b-button-group style="float:right">
        <b-button variant="outline-primary" :pressed="graphType === 'absolute'" @click="changeType('absolute')" class="granularity-selection">Acceleration events</b-button>
        <b-button variant="outline-primary" :pressed="graphType === 'per-hour'" @click="changeType('per-hour')" class="granularity-selection">Events per hour</b-button>
        <b-button variant="outline-primary" :pressed="graphType === 'per-ride'" @click="changeType('per-ride')" class="granularity-selection">Events per ride</b-button>
      </b-button-group>
      <div>
        <LineChart v-if="showGraph" :chartdata=chartdata :options=options :name="granularity" style="height: 400px"></LineChart>
      </div>
    </b-container>
    <br><br>

  </div>
</template>

<script>
import HomeCharts from "@/components/HomeCharts";
import LineChart from "@/components/charts/LineChart";
import RideService from "@/services/rideService";
import moment from "moment";

export default {
  name: 'Home',
  data() {
    return {
      events: [],
      graphStatistics: [],
      granularity: 'MONTHS',
      graphType: 'absolute',
      showGraph: true,
      options: {
        type: 'line',
        responsive: true,
        maintainAspectRatio: false
      }
    }
  },
  computed: {
    chartdata() {
      let labels = []
      let data = []
      if (this.graphType === 'absolute') {
        for (let i = 0; i < this.events.length; i++) {
          let event = this.events[i]
          let now = moment()
          if (this.granularity === 'DAYS' && now.diff(moment(event.rideStartTime), 'days') > 30) {
            continue
          }

          let label = this.dateToTimeUnit(event.rideStartTime, this.granularity)
          if (labels[0] !== label) {
            labels.unshift(label)
            data.unshift(0)
          }
          data[0]+=event.accelerationEvents.length
        }
      } else if (this.graphType === 'per-hour') {
        for (let i = 0; i < this.graphStatistics.length; i++) {
          let event = this.graphStatistics[i]
          let label = this.dateToTimeUnit(event.startTime, this.granularity)
          labels.push(label)
          data.push(event.avgMomentsPerHour)
        }
      } else if (this.graphType === 'per-ride') {
        for (let i = 0; i < this.graphStatistics.length; i++) {
          let event = this.graphStatistics[i]
          let label = this.dateToTimeUnit(event.startTime, this.granularity)
          labels.push(label)
          data.push(event.avgMomentsPerRide)
        }
      }

      return {
        labels,
        datasets: [
          {
            label: 'Events',
            borderColor: '#3498DB',
            fill:false,
            data
          }
        ]
      }
    }
  },
  methods: {
    dateToTimeUnit(date, unit) {
      let format = 'MMMM'
      if (unit === 'DAYS') {
        format = 'DD.MM'
      }
      return moment(String(date)).format(format)
    },
    changeGranularity(granularity) {
      const rideServ = new RideService()
      rideServ.getRidesStatisticsCurrentUser(this.$store.state.user.id, this.granularity).then((response) => {
        this.graphStatistics = response.data
      }).catch((err) => {console.log(err)})
      this.granularity = granularity
      this.showGraph = false
      this.$nextTick(function () {
        this.showGraph = true
      })
    },
    changeType(graphType) {
      this.graphType = graphType
      this.showGraph = false
      this.$nextTick(function () {
        this.showGraph = true
      })
    }
  },
  created() {
    if (!this.$store.state.user) {
      this.$router.push('/login')
    } else {
      const rideServ = new RideService();
      this.events = this.$store.state.user.rides

      rideServ.getRidesStatisticsCurrentUser(this.$store.state.user.id, this.granularity).then((response) => {
        this.graphStatistics = response.data
        this.$nextTick(function () {
          this.showGraph = true
        })
      }).catch((err) => {console.log(err)})
    }
  },
  components: {HomeCharts, LineChart}
}

</script>
<style scoped>
.granularity-selection {
  margin: 0px;
}
.btn-check:checked + .btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
  border-color: var(--blue);
  background-color: var(--blue);
}
.btn-outline-primary.active{
  color: white !important;
}
.btn-outline-primary {
  border-color: var(--blue);
  color: var(--blue);
}
.btn-outline-primary:hover {
  border-color: var(--blue);
  background-color: var(--blue);
  color: white;
}
</style>