<template>
  <div class="login">
    <h1>Login</h1>

    <b-container class="container blue">
      <div class="error" v-if="showError">Wrong username or password</div>
      <b-form @submit="onSubmit"  >
        <b-form-group
          id="input-group-1"
          label="Username:"
          label-for="username"
        >
          <b-form-input
            id="username"
            v-model="form.username"
            placeholder="Enter username"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group id="password" label="Password:" label-for="password">
          <b-form-input
            id="password"
            v-model="form.password"
            type="password"
            placeholder="Enter password"
            required
          ></b-form-input>
        </b-form-group>
        <div>
          <router-link :to="'/register'">Register</router-link> | <router-link :to="'login'">Forgot your password</router-link>
        </div>


        <b-button type="submit" variant="primary">Submit</b-button>

      </b-form>

    </b-container>
  </div>
</template>

<script>
import UserService from "@/services/userService";

export default {
  data() {
    return {
      form: {
        username: '',
        password: ''
      },
      showError: false
    }
  },
  methods: {
      onSubmit(event) {
        const userService = new UserService();

        event.preventDefault()
        var username = "marjan"
        var password = "dragonhack"
        let th = this
        if (this.form.username === username && this.form.password === password) {
          userService.getCurrentUser(username, password).then((response) => {
            let currentUser = response.data
            /* console.log(currentUser) */

            th.showError = false
            th.$store.commit('setUser', {user: currentUser})
            th.$router.push('/')
          }, (error) => {
            console.log(error)
          })
        } else {
          this.showError = true;
        }
      }
    }
  }
</script>
<style scoped>
@media only screen and (min-width: 700px) {
   .container {
    width: 50%;
  }
}
.error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding:10px;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom:10px;
}

.blue a {
  color: var(--blue);
}

.blue button {
  background-color: var(--blue);
}

.primary {
  color: var(--blue);
}

</style>
