<template>
  <div class="login">
    <h1>Register</h1>

    <b-container class="container blue">
      <div class="error" v-if="showError">There are no registrations on demo build.</div>
      <b-form @submit="onSubmit"  >
        <b-form-group
          id="input-group-1"
          label="Username:"
          label-for="username"
        >
          <b-form-input
            id="username"
            v-model="form.username"
            placeholder="Enter username"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          id="input-group-1"
          label="Email:"
          label-for="username"
        >
          <b-form-input
            id="email"
            v-model="form.email"
            placeholder="Enter email"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group id="password" label="Password:" label-for="password">
          <b-form-input
            id="password"
            v-model="form.password"
            type="password"
            placeholder="Enter password"
            required
          ></b-form-input>
        </b-form-group>


        <b-button type="submit" variant="primary">Submit</b-button>

      </b-form>

    </b-container>
  </div>
</template>

<script>

export default {
  data() {
    return {
      form: {
        username: '',
        password: ''
      },
      showError: false
    }
  },
  methods: {
      onSubmit() {
        this.showError = true;
      }
    }
  }
</script>
<style scoped>
@media only screen and (min-width: 700px) {
   .container {
    width: 50%;
  }
}
.error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding:10px;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom:10px;
}

.blue a {
  color: var(--blue);
}

.blue button {
  background-color: var(--blue);
}

.primary {
  color: var(--blue);
}

</style>
