<template>
  <div id="app">
    <div id=nav>
      <b-navbar toggleable="lg" type="dark" variant="dark">
        <b-navbar-brand><router-link to="/" id="navbar-brand">Road Rage</router-link></b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav class="d-flex justify-content-between">
          <b-navbar-nav class="p-2" v-if="$store.state.user" >
            <router-link to="/">Home</router-link> |
            <router-link to="/history">History</router-link>
          </b-navbar-nav>

          <b-navbar-nav class="ml-auto p-2" >
            <b-nav-item-dropdown right v-if="$store.state.user">
              <template #button-content>
                {{$store.state.user.username}}
              </template>
              <b-dropdown-item href="#">Profile</b-dropdown-item>
              <b-dropdown-item v-on:click="signout">Sign Out</b-dropdown-item>
            </b-nav-item-dropdown>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </div>

    <router-view/>
  </div>
</template>

<script>

export default {
  methods: {
    signout() {
      this.$store.commit('setUser', {user: null})
      this.$router.push('/login')
    }
  },
}
</script>


<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color:#EBF5FB;

  min-height: 100vh;

}

:root {
  --blue: #3498DB;
}

#nav {
  margin-bottom: 15px;
}


#nav a {
  color: gray;
  text-decoration: none;
  padding-right:10px;
}

#nav a.router-link-exact-active {
  color: white;
}

#navbar-brand {
  font-weight: bold;
  color: var(--blue) !important;
  margin-left:15px;
}

.btn {
  margin: 10px;
}

.form-control {
  margin:5px;
}
</style>
