<template>
<div id="homecharts">
  <div class="menu-chart-holder">


    <div class="score-holder align-items-center" >

      <div class="number-icon-holder">
        <div class="icon-holder"><font-awesome-icon icon="car-crash" /></div>
        <div class="number-holder"><h2>{{lastEvents}}</h2></div>
      </div>

    </div>

    <div class="score-holder">
      <div class="knob-control-wrapper">
        <KnobControl :responsive="true" :value="betterThanData" :primary-color="color"></KnobControl>
      </div>
    </div>

    <div class="score-holder align-items-center">
      <div class="number-icon-holder">
        <div class="icon-holder"><font-awesome-icon icon="clock" /></div>
        <div class="number-holder"><h2>{{Math.round(averageEventsPerHour * 10) / 10}}</h2></div>
      </div>

    </div>


  </div>
  <div class="menu-chart-holder">
    <div class="score-holder">
      <h5>Events in last 5 rides </h5>
    </div>
    <div class="score-holder">
      <h5>You are better than {{betterThanData}}% users</h5>
    </div>
    <div class="score-holder">
      <h5>Average number of events per hour</h5>
    </div>
  </div>
</div>
</template>

<script>
import KnobControl from 'vue-knob-control'
import RideService from "@/services/rideService";

export default {
  name: "HomeCharts",
  components: {
    KnobControl
  },
  data() {
    return {
      betterThanData: 0,
      lastEvents: 0,
      averageEventsPerHour: 0,
      color: "#58D68D",

    }
  },
  created: function () {
    const rideServ = new RideService();
    rideServ.getAllTimeAverageRides(this.$store.state.user.id).then((response) => {
      this.averageEventsPerHour = response.data[0].avgMomentsPerHour
    }).catch((err) => {console.log(err)});

    rideServ.getEventInLastFiveRides(this.$store.state.user.id).then((response) => {
      this.lastEvents = response.data.numberOfEvents
    }).catch((err) => {console.log(err)});

    rideServ.getUserPerformance(this.$store.state.user.id).then((response) => {
      this.betterThanData = response.data.userPerformance
      if (this.betterThanData > 80) {
        this.color = "#58D68D"
      } else if (this.betterThanData > 30) {
        this.color = "#F4D03F"
      } else {
        this.color = "#EC7063"
      }
    }).catch((err) => {console.log(err)});


  }
}
</script>

<style scoped>
#homecharts {
  margin: 40px 0px;
}
.menu-chart-holder {
  display: flex;
  max-height: 200px;
}

.score-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;

}

.knob-control-wrapper {
  overflow: auto;
}

.number-icon-holder {
  border-width: 5px;
  border-style: solid ;
  border-color: var(--blue);
  border-radius: 5px;
  display:flex;
}
.icon-holder {
  background-color: var(--blue) ;
  padding: 20px;
  font-size: 30px;
  color:white;
}
.number-holder {
  padding: 20px 25px;
  background-color: white ;
}
</style>
